/* https://overpass-30e2.kxcdn.com/overpass.css */
@font-face {
	font-family: 'overpass';
	src:
		url('/fonts/overpass-regular.woff2') format('woff2'),
		url('/fonts/overpass-regular.woff') format('woff'),
		url('/fonts/overpass-regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'overpass';
	src:
		url('/fonts/overpass-semibold.woff2') format('woff2'),
		url('/fonts/overpass-semibold.woff') format('woff'),
		url('/fonts/overpass-semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'overpass';
	src:
		url('/fonts/overpass-bold.woff2') format('woff2'),
		url('/fonts/overpass-bold.woff') format('woff'),
		url('/fonts/overpass-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'overpass';
	src:
		url('/fonts/overpass-heavy.woff2') format('woff2'),
		url('/fonts/overpass-heavy.woff') format('woff'),
		url('/fonts/overpass-heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}