body > footer {
  grid-area: footer;
  margin-inline: auto;
  padding-inline: 1rem;
  font-size: 0.8em;
  padding-bottom: .5rem;
  background-color: var(--background-color-light);
}
body > footer a {
  color: inherit;
  text-decoration: underline;
}

body > footer svg {
	width: 16px;
}

@media (max-width: 768px) {
  body > footer {
    margin-top: 0;
    padding-block: 0.5rem;
  }
}
