h1 {
  letter-spacing: -0.025em;
  font-weight: 700;
  margin-block: 3rem 1.5rem;
  font-size: 36px;
}

h2 {
  margin-block: 48px 16px;
}

h1, h2, h3, h4, h5, h6 {
  word-break: normal;
}

@media (min-width: 640px) {
  h1 {
    line-height: 2.5rem;
  }
}
