---
import Github from "./icons/Github.astro";
---

<footer>
  <p>
    <a href="/changelog" class="display-flex align-items-center gap-1 margin-block-start-1">
      <Github />
      Git Repository
    </a>
  </p>
  Content of this project is a folk of <a href="https://github.com/russmaxdesign/accessible-forms" target="_blank">accessible-forms</a>. All credit goes to the original author.
</footer>
