---
const { tags } = Astro.props;
---

<ul class="tags">
	{!!tags && tags.map(tag => (
		<li class="tag">
			<a href={`/tags/${tag.replace(' ', '-')}`}>
				<span aria-hidden="true">#</span>{tag.replace(' ', '-')}
			</a>
		</li>
	))}
</ul>

<style>
	.tags {
		list-style-type: ' ';
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 6px;
		margin-block: 0;
	}
	.tag {
		margin-top: 0;
		margin-block-start: 0;
	}
</style>