---
import AppLayout from './AppLayout.astro';
import GitHubEditLink from '../components/GitHubEditLink.astro';

let { title, description, url, tags } = Astro.props.content;
url = url.startsWith('/') ? url.slice(1) : url;
---

<AppLayout title={title} description={description}>
	<h1>{title}</h1>
	<GitHubEditLink path={"src/pages/" + url + ".md"} />
	<div class="margin-block-start-9" aria-hidden="true"></div>
	<slot />
</AppLayout>
